{
  "presets": ["es2015", "es2016", "react"],
  "plugins": [
    "babel-plugin-syntax-trailing-function-commas",
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-object-rest-spread",
    "babel-plugin-transform-decorators-legacy"
  ]
}